{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1><i class="fa fa-trophy"></i> {% trans "Public Events"%}</h1>
    <h2><i class="fa fa-bolt"></i> {% trans "Live"%}</h2>
    <ul>
    {% regroup live by start_date.date as comp_list_by_date %}
    {% for comp_date in comp_list_by_date %}
        <li>{{comp_date.grouper}}
        <ul>
        {% for comp in comp_date.list %}
        <li><a href="{{ comp.absolute_url }}">{{comp.name}}</a></li>
        {% endfor %}
        </ul>
        </li>
    {% empty %}
        <li>{% trans "No live race"%}</li>
    {% endfor %}
    </ul>
    <h2><i class="fa fa-calendar"></i> {% trans "Upcoming"%}</h2>
    <ul>
    {% regroup upcoming by start_date.date as comp_list_by_date %}
    {% for comp_date in comp_list_by_date %}
        <li>{{comp_date.grouper}}
        <ul>
        {% for comp in comp_date.list %}
        <li><a href="{{ comp.absolute_url }}">{{comp.name}}</a></li>
        {% endfor %}
        </ul>
        </li>
    {% empty %}
        <li>{% trans "No race upcoming"%}</li>
    {% endfor %}
    </ul>
    <h2><i class="fa fa-archive"></i> {% trans "Archived"%}</h2>
    <ul>
    {% regroup past by start_date.date as comp_list_by_date %}
    {% for comp_date in comp_list_by_date %}
        <li>{{comp_date.grouper}}
        <ul>
        {% for comp in comp_date.list %}
        <li><a href="{{ comp.absolute_url }}">{{comp.name}}</a></li>
        {% endfor %}
        </ul>
        </li>
    {% empty %}
        <li>{% trans "No race archived"%}</li>
    {% endfor %}
    </ul>
{% endblock %}
