{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Confirm action:" %}</h2>
<div>
	<form method="post">
		<p><i class="fa fa-warning"></i> {% blocktrans with cname=competition.name %}Are you sure you want to delete &quot;{{cname}}&quot; and all it's data?{% endblocktrans %}</p>
		{% csrf_token %}
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o" ></i> {% trans "Yes" %}</button> <a class="btn btn-default" href="{% url 'seuranta.views.dashboard' %}"><i class="fa fa-times" ></i> {% trans "Cancel" %}</a>
	</form>
</div>
{% endblock %}

