{% extends "base.html" %}
{% load i18n %}
{% load tz %}

{% block content %}
<h2><i class="fa fa-users"></i> {% trans "Competitors"%}</h2>
<div>
	{% if  competition.competitors.all.count %}
	{% timezone competition.timezone %}
	<table class="table table-striped">
	    <thead>
	        <tr>
    	        <th>{% trans "Name" %}</th>
    	        <th>{% trans "Start Time" %}</th>
                <th>{% trans "Secret" %}</th>
                <th>{% trans "QR" %}</th>
            </tr>
	    </thead>
        <tbody>
        {% for c in competition.competitors.all %}
        <tr class="competitor">
	        <td>{{c.name}}</td>
	        <td>{{c.starting_time}}</td>
	        <td class="secret">{{c.tracker}}</td>
    		<td>
    		    <span class='qrcode'><a href='{% url 'seuranta_tracker' c.tracker %}'>Web Tracker</a></span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
	</table>
    {% endtimezone %}
    {% else %}
    <span>{% trans "You don't have any competitors yet!"%}</span>
    {% endif %}
</div>
{% endblock %}
{% block extra_scripts %}
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js'></script>
<script>
$(window).load(function(){
    $('.qrcode a').each(function(i, el){
        var t = $(el),
        l = document.location.origin+t.attr('href')
        t.append('<br/>')
        t.qrcode(l);
    });
});
</script>
{% endblock %}
