{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2><i class="fa fa-trophy"></i> {% trans "Your Events"%}</h2>
<div>
	{% if  user.competitions.all.count %}
	<table class="table table-striped">
	    <thead>
	        <tr>
    	        <th>Name</th>
    	        <th>Privacy</th>
                <th>Period</th>
                <th>Last Modification</th>
                <th>Actions</th>
            </tr>
	    </thead>
        <tbody>
        {% for c in user.competitions.all %}
        <tr>
	        <td>{{c.name}}</td>
	        <td>{{c.get_publication_policy_display}}</td>
	        <td>From {{c.start_date}}<br/>To {{c.end_date}} {{c.timezone}}</td>
	        <td>{{c.last_update}}</td>
    		<td>
    		<a title="{% trans "Delete"%}" class="btn btn-danger btn_delete_race" href="#{{c.uuid}}" ><i class="fa fa-trash-o"></i></a>
             - <a title="{% trans "View"%}" class="btn btn-info" href="{% url "seuranta.views.race_view" c.uuid  %}"><i class="fa fa-search"></i></a>
	        </td>
        </tr>
        {% endfor %}
        </tbody>
	</table>
    {% else %}
    <span>{% trans "You don't have any competition yet!"%}</span>
    {% endif %}
</div>
{% endblock %}
{% block extra_scripts %}
<script>
    $(function(){
        var onPressDeleteLink = function(e){
            e.preventDefault();
            var el = $(this);
            if(confirm("{% trans "Are you sure you want to delete this race"%}")){
                el.html('<i class="fa fa-spinner fa-spin"></i>');
                $.ajax({
                    type:"POST",
                    url:'{% url 'seuranta.views.api' 'delete_race' %}',
                    data:{uuid:el.attr('href').slice(1)},
                    dataType:"text"
                }).done(function(msg) {
                    if(msg=="OK"){
                        el.parent().parent().hide();
                    }else{
                        alert("Something went wrong...")
                    }
                })
                .fail(function(jqXHR, textStatus) {
                    window.location.reload();
                })
                .always(function(r) {
                    el.html('<i class="fa fa-trash-o"></i>');
                });
            }
        }
        $.each(
            $(".btn_delete_race"),
            function(i, btn){
                $(btn).on('click', onPressDeleteLink);
            }
        );
    });
</script>
{% endblock %}
