{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2><i class="fa fa-trophy"></i> {% trans "Your Events"%}</h2>
<div>
	{% if  user.competitions.all.count %}
	<table class="table table-striped">
	    <thead>
	        <tr>
    	        <th>Name</th>
    	        <th>Privacy</th>
                <th>Period</th>
                <th>Last Modification</th>
                <th>Actions</th>
            </tr>
	    </thead>
        <tbody>
        {% for c in user.competitions.all %}
        <tr>
	        <td>{{c.name}}</td>
	        <td>{{c.get_publication_policy_display}}</td>
	        <td>From {{c.start_date}}<br/>To {{c.end_date}} {{c.timezone}}</td>
	        <td>{{c.last_update}}</td>
    		<td>
    		<a title="{% trans "Edit"%}" class="btn btn-primary" href="{% url "seuranta.views.dashboard" %}?edit={{c.uuid}}"><i class="fa fa-edit"></i></a>
            <a title="{% trans "Delete"%}" class="btn btn-danger" href="{% url "seuranta.views.dashboard" %}?delete={{c.uuid}}"><i class="fa fa-trash-o"></i></a>
             - <a title="{% trans "View"%}" class="btn btn-info" href="{% url "seuranta.views.races_view" c.uuid  %}"><i class="fa fa-search"></i></a>
	        </td>
        </tr>
        {% endfor %}
        </tbody>
	</table>
    {% else %}
    <span>{% trans "You don't have any competition yet!"%}</span>
    {% endif %}
</div>
{% endblock %}
