{% load staticfiles %}{% load i18n %}<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<style>
body {
  padding: 0;
  margin: 0;
}
html, body, #map {
  height: 100%;
}
</style>
</head>
<body>
<div id="map"></div>
<script type="text/javascript" src="{% static 'vendor/jquery/2.1.3/jquery-2.1.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'seuranta/js/server_clock.js' %}"></script>
<script type="text/javascript" src="{% static 'seuranta/js/positioning.js' %}"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
var COLORS = new function(){
    var colors = ["#09F","#3D0","#F09","#D30","#30D","#DD0","#2DD","#D00","#D33","#00D","#DD2","#BFB"],
        $t = this;
    $t.cnt = -1;
    $t.get = function(){
        this.cnt++;
        if( this.cnt==colors.length )this.cnt = 0;
        return colors[this.cnt];
    };
    return $t;
};

var prev_timestamp = null;
var competitors = {};
var clock = ServerClock({url: '/api/time'});
var map = null;

var fetchRoutes = function(url){
  url = url || '/api/route'
  data = {result_per_page: 1000}
  if(prev_timestamp !== null){
    data.start = prev_timestamp
  }
  prev_timestamp = +clock.now()/1e3
  $.ajax({
    url: url,
    data: data,
    dataType: 'json'
  })
  .done(function(response){
    console.log(response);
    onReceiveRoutes(response.results);
    if(response.next!==null){
        fetchRoutes(response.next);
    }
  })
  setTimeout(fetchRoutes, 30*1e3)
}

var onReceiveRoutes = function(data){
  $.each(data, function(ii, d){
    var c_id = d.competitor
        positions = PositionArchive.fromTks(d.encoded_data);
    if(!competitors[c_id]){
      competitors[c_id] = {
        color: COLORS.get(),
        positions: PositionArchive(),
        marker: null
      }
    }
    $.each(positions.getArray(), function(jj, pt){
      competitors[c_id].positions.add(pt);
    });
  });
}

var drawCompetitors = function(time){
  $.each(competitors, function(ii, c){
    if(c.positions.getPositionsCount()){
      var position = c.positions.getByTime(time),
          lastPos = c.positions.getByIndex(c.positions.getPositionsCount()-1),
          coords = L.latLng(position.coords.latitude, position.coords.longitude);
      if(lastPos.timestamp < time){
        if(c.marker!==null){
          map.removeLayer(c.marker);
          c.marker=null;
        }
        return;
      }
      if(c.marker===null){
        c.marker = new L.circleMarker(coords, {color: c.color, radius: 3, fillOpacity:1})
        c.marker.addTo(map)
      }else{
        c.marker.setLatLng(coords)
      }
    }
  });
}

$(function() {
  var url = window.location.href;
  competition_id = url.match(/^.*\/watch\/(.{22})\/?$/)[1];
  $.ajax({
    url: "/api/competition/"+competition_id
  }).done(load_map)
})

function load_map(competition){
  map = L.map('map', {
    center: [competition.latitude, competition.longitude],
    zoom: competition.zoom
  });
  L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18
  }).addTo(map);
  fetchRoutes();

  (function draw(){
    drawCompetitors(clock.now()-30*1e3)
    setTimeout(draw, 200);
  })();
};
</script>
</body>
</html>
