{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ competition.name }}{% endblock %}

{% block extra_heads %}
<style>
</style>
{% endblock %}

{% block content %}
<h2>{{ competition.name }}</h2>
<div id="countdown"></div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}seuranta/js/server_clock.js"></script>
<script>
$(function(){
    var race_info = {{competition.dump_json|safe}},
        TIME_API_URL = '{% url 'seuranta_api_v1' 'clock/drift' %}',
        clock = new ServerClock({time_api_url:TIME_API_URL});

    (function countdown(){
        var MINUTE = 60, HOUR = 60*MINUTE, DAY = 24*HOUR, YEAR = 365.25*DAY,
            timeLeft = Math.round((Date.parse(race_info.schedule.opening_date) - clock.now())/1e3),
            years = Math.floor(timeLeft/YEAR),
            days = Math.floor((timeLeft-years*YEAR)/DAY),
            hours = Math.floor((timeLeft-years*YEAR-days*DAY)/HOUR),
            minutes = Math.floor((timeLeft-years*YEAR-days*DAY-hours*HOUR)/MINUTE),
            seconds = Math.floor(timeLeft%60),
            text = "in "+(years!=0?(years+" year"+(years>1?"s ":" ")):"")+
                (days!=0?(days+" day"+(days==1?" ":"s ")):(years==0?"":"0 days "))+
                (hours!=0?(hours+" hour"+(hours==1?" ":"s ")):(years==0&&days==0?"":"0 hours "))+
                (minutes!=0?(minutes+" minute"+(minutes==1?" ":"s ")):(years==0&&days==0&&hours==0?"":"0 minutes "))+
                (seconds!=0?(seconds+" second"+(seconds==1?"":"s")):(years==0&&days==0&&hours==0&&minutes==0?"":"0 seconds"));

        if(timeLeft<=0){
            text = "now. Please wait while the page reloads<i class='fa fa-spinner fa-spin'></i>"
        }
        $("#countdown").html("<div style='text-align:center'><h2>Starts "+text+".</h2></div>");
        if(timeLeft>0){
            setTimeout(countdown, 500)
        }else{
            window.location.reload();
        }
    })();
});
</script>
{% endblock %}
