{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ competition.name }}{% endblock %}

{% block extra_heads %}
<style>
#main{
    position:absolute;
	display:block;
	overflow:hidden;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1000;
}

#controls{
	position:absolute;
	display:block;
	overflow:hidden;
	top:0;
	left:0;
	height:100%;
	color:#fff;
	background:#000;
	font-family:Arial;
}

#toggle_controls{
    position:absolute;
	display:block;
	overflow:hidden;
	top:0;
	left:0;
	color:#fff;
	background:#000;
	font-family:Arial;
}

.clock{
    font-size:2em;
}
.control_button{
    display:inline-block;
	text-decoration:none;
	padding:2px 5px;
	text-align:center;
	color:#fff;
	margin:0 2px;
}

.control_button:hover{
	color:#bbb;
}

#timeline{
	background:#555;
	height:10px;
	min-height:10px;
	min-width:250px;
	white-space:nowrap;
}
#timeline_bar{
	background:#f00;
	width:0px;
	height:100%;
	white-space:nowrap;
}
#participant_list{
    overflow-y:auto;
    overflow-x:hidden;
}
</style>
{% endblock %}

{% block body %}
<div id="main"></div>
<div id="controls">
    <div id="main_control">
        <span class="clock">
            <small><i class="fa fa-calendar"></i> <span id="date_display"></span></small><br/>
            <i class="fa fa-clock-o"></i> <span id="hour_display"> </span><br/>
            <small><i class="fa fa-globe"></i> <span id="tz_display"></span></small>
        </span><br/>
        <a href="#" id="minus_button" class="control_button"><i class="fa fa-search-minus"></i></a>
        <a href="#" id="plus_button" class="control_button"><i class="fa fa-search-plus"></i></a>
        <a href="#" id="slower_button" class="control_button"><i class="fa fa-backward"></i></a>
        <a href="#" id="pause_button" class="control_button"><i class="fa fa-pause"></i></a>
        <a href="#" id="play_button" class="control_button"><i class="fa fa-play"></i></a>
        <a href="#" id="faster_button" class="control_button"><i class="fa fa-forward"></i></a>
        <span id="play_rate_display"></span>
    </div>
    <div id="timeline">
        <div id="timeline_bar">
        </div>
    </div>
    <div id="participant_list">
    </div>
</div>
<div id="toggle_controls">
    <a href="#" id="toggle_controls_button" class="control_button"><i class="fa fa-caret-square-o-left" ></i></a>
</div>
{% endblock %}

{% block extra_scripts %} 
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script> 
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script> 
<script type="text/javascript" src="{{STATIC_URL}}seuranta/js/smallworldmap.js"></script> 
<script type="text/javascript" src="{{STATIC_URL}}seuranta/js/server_clock.js"></script> 
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script> 
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.0.3/moment-timezone.min.js"></script> 
<script type="text/javascript" src="{{STATIC_URL}}seuranta/js/moment-timezone-data.min.js"></script> 
<script type="text/javascript" src="{{STATIC_URL}}seuranta/js/positioning.min.js"></script> 
<script> 
var COLORS = new function(){
	var colors = ["#09F","#9F0","#F09","#F90","#90F","#FF0","#7FF","#F00","#F99","#00F","#FF7","#BFB"];
    $t = this;
    $t.cnt = -1;
    $t.get = function(){
    	this.cnt++;
    	if( this.cnt==colors.length )this.cnt = 0;
    	return colors[this.cnt];
    };
    return $t;
};
</script>
<script>
var Competitor = function(options){
    var color = options.color,
        name = options.data.name,
        shortname = options.data.shortname,
        starting_time = options.data.starting_time;
    this.uuid = options.uuid;
    this.getColor = function(){return color};
    this.getName = function(){return name};
    this.getShortname = function(){return shortname};
    this.positions = new PositionArchive();
    this.marker = null;
    this.polyline = null;
    this.is_shown = true;
};
</script>
<script>
$(function(){
    var race_info = {{competition.dump_json|safe}},
        ROUTES_API_URL = '{% url 'seuranta.views.api' 'competitors/routes' %}',
        TIME_API_URL = '{% url 'seuranta.views.api' 'clock/drift' %}',
        is_started=false,
        is_completed=false,
        PLAYER_DELAY=30e3,
        PLAY_RATES = [0, 1, 2, 5, 10, 15, 30, 60, 100],
        clock = new ServerClock({time_api_url:TIME_API_URL}),
        time_displayed = clock.now()-PLAYER_DELAY, //30 seconds delay
        play_rate = 1,
        prev_display_time=null,
        map=null,
        prev_fetch_time=null;

    is_started = (clock.now() - Date.parse(race_info.schedule.opening_date))>0;
    is_completed = (clock.now() - Date.parse(race_info.schedule.closing_date))>0;

    var competitors = {};
    $.each(race_info.competitors, function(i, el){
        el.color = COLORS.get();
        competitors[el.uuid] = new Competitor(el);
        $('<div/>')
        .on(
            "click",
            (function(c){
                return function(){
                    if(c.is_shown){
                        $(this).html("<i class='fa fa-square-o' style='color:"+c.getColor()+"'></i> "+c.getName());
                    }else{
                        $(this).html("<i class='fa fa-square' style='color:"+c.getColor()+"'></i> "+c.getName());
                    }
                    c.is_shown = !c.is_shown;
                }
            })(competitors[el.uuid])
        )
        .html("<i class='fa fa-square' style='color:"+competitors[el.uuid].getColor()+"'></i> "+competitors[el.uuid].getName())
        .appendTo($("#participant_list"))
    });

    var whileUncompleteFunction = function(){
        is_completed = (clock.now() - Date.parse(race_info.schedule.closing_date))>0;

        var list_uuids = $.map(race_info.competitors, function(el){
            return el.uuid;
        });

        if(list_uuids.length>0){
            // rounded to 5 sec for cache optimization
            var now =Math.floor(+clock.now()/5e3)*5e3;
            var query_args = {action:"get_route", "uuid[]":list_uuids, now:now}
            if(prev_fetch_time !== null){
                query_args["last_update"]=prev_fetch_time;
            }
            // Caching Optimization
            prev_fetch_time = now;
            $.ajax({
                type:"GET",
                url:ROUTES_API_URL,
                data:query_args,
                dataType:"json",
            })
            .done(function(response){
                if(response.status=="OK"){
                    $.each(response.data.routes, function(i, d){
                        var uuid = d.competitor.uuid;
                        if(competitors[uuid]){
                            var positions = PositionArchive.fromTks(d.encoded_route);
                            $.each(positions.getArray(), function(i, pt){
                                competitors[uuid].positions.add(pt);
                            });
                        }
                    });
                }
            });
        }

        if(!is_completed){
            setTimeout(whileUncompleteFunction, 5e3);
        } else {
            onComplete();
        }
    };

    var onComplete = function(){
        time_displayed = Date.parse(race_info.schedule.opening_date);
        play_rate = 0;
    };

    if(is_started){
        map = new SmallWorld.Map("main", race_info.map.image_data_uri, race_info.map.calibration_points, "", "", function(){
            map.center(map.MapXYToLatLon({x:map.map_w/2, y:map.map_h/2}));
            whileUncompleteFunction();
        }, false);

        (function refreshDisplay(){
            var now = +new Date();
            if(prev_display_time){
                time_displayed += (now - prev_display_time)*PLAY_RATES[play_rate];
            }
            if(time_displayed > clock.now()-PLAYER_DELAY){
                time_displayed = clock.now()-PLAYER_DELAY;
                play_rate = 1;
            }
            if(time_displayed > Date.parse(race_info.schedule.closing_date)){
                time_displayed = Date.parse(race_info.schedule.opening_date);
                play_rate = 0;
            }
            var t, tz=race_info.timezone;
            try{
                t = moment(time_displayed).tz(tz);
            }catch(e){
                tz = "UTC"
                t = moment(time_displayed).tz(tz);
            }
            $("#date_display").text( t.format('DD.MM.YYYY') );
            $("#hour_display").html( t.format('HH:mm')+"<small>:"+ t.format('ss')+"</small>");
            $("#tz_display").text( tz );
            $("#play_rate_display").text( "x"+PLAY_RATES[play_rate] );

            var t_elapsed = Math.min(clock.now()-PLAYER_DELAY, Date.parse(race_info.schedule.closing_date))-Date.parse(race_info.schedule.opening_date),
                t_perc = (time_displayed-Date.parse(race_info.schedule.opening_date))/t_elapsed*100;
            $("#timeline_bar").css({
                "width":Math.round(t_perc)+"%"
            });

            $.each(competitors, function(i, runner){
                if(map && runner.is_shown && runner.positions.getPositionsCount() > 0){
                    var position = runner.positions.getByTime(time_displayed);
                    var latlon = new LatLon(position.coords.latitude, position.coords.longitude);
                    if(!runner.marker){
                        runner.marker = new SmallWorld.Marker(latlon, runner.getColor(), runner.getShortname())
                        runner.marker.draw(map);
                    }else{
                        runner.marker.move(latlon);
                    }
                    var tail = runner.positions.extractInterval(time_displayed-60e3, time_displayed);
                    var coords = $.map(
                        tail.getArray(),
                        function(position){
                            return new LatLon(position.coords.latitude, position.coords.longitude);
                        }
                    );
                    if(!runner.polyline){
                        runner.polyline = new SmallWorld.Route(coords, runner.getColor())
                        runner.polyline.draw(map);
                    }else{
                        runner.polyline.set_new_path(coords);
                    }

                    runner.marker.show();
                    runner.polyline.show();

                }else if(map && !runner.is_shown){
                    if(runner.marker){
                        runner.marker.hide();
                    }
                    if(runner.polyline){
                        runner.polyline.hide();
                    }
                }
            });

            prev_display_time = now;
            setTimeout(refreshDisplay, 50-(new Date()-now))
        })();

        $("#controls")
        .css({
            height:$(document).height()+"px"
        })
        $("#participant_list")
        .css({
            height:($(document).height() - ($("#main_control").height()+$("#timeline_bar").height()))+"px",
            "overflow-x":"hidden",
            "overflow-y":"auto"
        })

        $("#main")
        .css({
            height:$(document).height()+"px",
            width:$(document).width()-$("#controls").width()+"px",
            left:$("#controls").width()+"px"
        })

        $(window).resize(function(){
            $("#controls")
            .css({
                height:$(document).height()+"px"
            })
            $("#participant_list")
            .css({
                height:($(document).height() - ($("#main_control").height()+$("#timeline_bar").height()))+"px",
            })
            if($("#controls").is(":visible")){
                $("#main")
                .css({
                    height:$(document).height()+"px",
                    width:$(document).width()-$("#controls").width()+"px",
                    left:$("#controls").width()+"px"
                });
            }else{
                $("#main")
                .css({
                    height:$(document).height()+"px",
                    width:$(document).width()+"px",
                    left:"0px"
                });
            }
        })

        $("#minus_button").on("click", function(e){
            e.preventDefault();
            if(map){
                map.zoom_out();
            }
        });
        $("#plus_button").on("click", function(e){
            e.preventDefault();
            if(map){
                map.zoom_in();
            }
        });

        $("#slower_button").on("click", function(e){
            e.preventDefault();
            if (play_rate-1<0){
                return
            }
            play_rate--;
        });

        $("#pause_button").on("click", function(e){
            e.preventDefault();
            play_rate = 0;
        });
        $("#play_button").on("click", function(e){
            e.preventDefault();
            play_rate = 1;
        });
        $("#faster_button").on("click", function(e){
            e.preventDefault();
            if (play_rate+1>PLAY_RATES.length-1){
                return
            }
            play_rate++;
        });
        $("#timeline").on("click", function(e){
            var w = $(this).width(),
                t_elapsed = Math.min(clock.now()-PLAYER_DELAY, Date.parse(race_info.schedule.closing_date))-Date.parse(race_info.schedule.opening_date);
            time_displayed = Date.parse(race_info.schedule.opening_date)+e.clientX/w*t_elapsed;
        });

        $("#toggle_controls").css({
            left:$("#controls").width()+"px"
        });
        $("#toggle_controls_button").on("click", function(e){
            e.preventDefault();
            if($("#controls").is(":visible")){
                $("#controls").hide();
                $("#toggle_controls").css({
                    left:"0px"
                });
                $("#toggle_controls_button").html("<i class='fa fa-caret-square-o-right'></i>");
                $(window).trigger('resize');
            }else{
                $("#controls").show();
                $("#toggle_controls").css({
                    left:$("#controls").width()+"px"
                });
                $("#toggle_controls_button").html("<i class='fa fa-caret-square-o-left'></i>");
                $(window).trigger('resize');
            }
        });

    }else{
        window.location.reload();
    }
});
</script>
{% endblock %}

